html{
  height: auto;
  width: auto;
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #000000;  
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url("97AB4FA4-.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.84)), url("97AB4FA4-.jpg"); 
}


body{
  text-align: center;
  color: antiquewhite;
  font-size: 150%;
  font-family: Romans;
}

h1{
  text-align: center;
  color: antiquewhite;
  font-size: 200%;
  font-family: Romans;
}

h3{
  text-align: center;
  color: antiquewhite;
  font-size: 150%;
  font-family: Romans;
}


h4{
  text-align: center;
  color: antiquewhite;
  font-size: 150%;
  font-family: Romans;
}



a{ 
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 130%;
  font-family: Romans;
}